/* Importing font from google font */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

/* CSS reset */
*,
*::before,
*::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  max-width: 1600px;
  min-width: 200px;
  font-size: 13px;
  font-family: 'Hind Siliguri', sans-serif;
}
body{
  background-color: rgb(142, 248, 222);
}

/* Container is the parent of all the element of the web page after body */
.container {
  width: 60%;
  height: 100vh;
  margin: 0em auto 0 auto;
  font-size: 1.2em;
  background-image: url('https://cdn.pixabay.com/photo/2017/03/02/16/54/iceland-2111811_1280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 1px 0 5px rgb(0, 0, 0);
}
/* profile contain profile pic and name . And show at the top of the chat window */
.profile {
  width: 100%;
  padding: 0.5em;
  background-color: rgb(228, 213, 241);
  box-shadow: 0 2px 5px black;
  display: flex;
  align-items: center;
}
.profile img {
  width: 3em;
  margin: 0 0.5em 0 0.5em;
}
.profile-name {
  color: red;
  text-align: center;
  font-size: 1.3em;
}

/* messgae is the main container of messages.  */
.messages {
  width: 100%;
  height: calc(100% - 7.5em);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  
}
/* inhert is a empty div only used to inhert the height of Reactautoscrollfeed component */
.inhert{
  height: 100%;
}

/* These codes are for scrollbar design */
.messages::-webkit-scrollbar {
  width: 0.2em;
}
.messages::-webkit-scrollbar-thumb {
  background: rgb(204, 204, 204);
  border-radius: 10px;
}

/* It contains the image, message and time */
.msg-container {
  display: flex;
  flex-direction: column;
}
.image {
  width: 2em;
  height: 2em;
  margin: 0.5em;
  display: inline-block;
  border-radius: 90px;
}
.user {
  align-items: flex-end;
}

/* msg-line contains message and small image */
.msg-line {
  display: flex;
  flex-direction: row;
}
p {
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgb(150, 150, 150);
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
}
.user p {
  color: white;
  background-color: rgb(54, 21, 129);
}
.time{
  color: rgb(223, 223, 223);
  /* font-size: 0.3em; */
}
.agent .time {
  margin-left: 4em;
}
.user .time {
  margin-right: 4em;
}

.user > .direction {
  flex-direction: row-reverse;
}

/* input-btn is a form that contain input field where user will type message and button which end the message */
.input-btn {
  display: flex;
}
.input-btn > input,
button {
  margin: 0.3em;
  padding: 0.3em;
  font-size: 0.9em;
  border-radius: 15px;
  outline: none;
}
.input-btn > input {
  width: 80%;
  padding: 0.8em;
  border: none;
  background-color: rgb(221, 221, 221);
}
.input-btn > button {
  width: 16.5%;
  background-color: red;
  border: none;
  color: white;
  min-width: 3em;
  transition: ease-in-out 0.2s;
}
.input-btn > button:hover {
  background-color: brown;
  cursor: pointer;
}

/* after 770px chat window will be full screen. In Ipad full screen view will be shown */
@media screen and (max-width: 770px) {
  .container {
    width: 100%;
    margin: 0%;
  }
}


